@font-face {
  font-family: font1;
  src: url(./fonts/Molot.otf);
}


body, html {
  height: 100%;
  margin: 0;
  font-family: font1;
}

/* background */

.bg {
  background-image: url("./images/futuristic-bg.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* clock */
.circle {
  position: absolute;
  border-radius: 50%;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.circle-front {
  width: 17rem;
  height: 17rem;
  z-index: 2;
  box-shadow: -10px 12px 19px 0 rgba(0, 0, 0, 0.5) inset;
  background-color: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  font-size: 110px;
  font-weight: 100;
  border: 1px blue solid;
}

.circle-back {
  width: 20rem;
  height: 20rem;
  z-index: 2;
  box-shadow: -10px 12px 19px 0 rgba(0, 0, 0, 0.5) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  font-size: 110px;
  font-weight: 100;
  border: 1px rgb(239, 239, 239) solid;
}



/* timers */

.card {
    margin: 0 auto;
    padding: 30px;
    display: block;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 10px -5px #000000;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown {
  font-size: 100px;
}

.card2 {
  margin: 0 auto;
  padding: 50px;
  display: block;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 10px -5px #000000;
  position: absolute;
  top: 52%;
  left: 37%;
  transform: translate(-50%, -50%);
}

#countdown2 {
font-size: 110px;
}

.card3 {
  margin: 0 auto;
  padding: 50px;
  display: block;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 10px -5px #000000;
  position: absolute;
  top: 52%;
  left: 63%;
  transform: translate(-50%, -50%);
}

#countdown3 {
font-size: 110px;
}


